<div>
  <h1 class="title">
    Hello SNOW.DOG Team!
  </h1>
  <p class="subtitle">
    Here is my solution to the coding challenge. What do you think about this?
  </p>

  <ul>
    <li>
      <a href="/bacon">Bacon.clone()</a>
    </li>

    <br/>

    <li>
      <a href="/checkout">Checkout Component</a>
    </li>
  </ul>
</div>
